In [1]:
import pandas as pd
df1 = pd.read_csv('../../dataset/historical_stock_prices.csv')
df2 = pd.read_csv('../../dataset/historical_stocks.csv')
df1.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

### Read both datasets

In [2]:
df2.head()

,ticker,exchange,name,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS

In [3]:
df1.shape

(20973889, 8)

In [4]:
df2.shape

(6460, 5)

### Merge the datasets

In [5]:
df = pd.merge(df1, df2, on = 'ticker')

In [6]:
df.shape

(20973889, 12)

In [7]:
df.head()

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE

### Get percent change for company name

In [8]:
def getPercentChangeForCompanyName(dataFrame, companyName, year):
    dfCopy = dataFrame.copy()
    companyDf = dfCopy[dfCopy['name'] == companyName]
    companyDf = companyDf.sort_values('date')
    companyDfInSelectedYear = companyDf[companyDf['date'].str.startswith(year)]

    pd.options.mode.chained_assignment = None
    companyDfInSelectedYear['year'] = companyDfInSelectedYear.date.str[0:4]

    companyDfInSelectedYearGroupedFirstDate = companyDfInSelectedYear.groupby(['ticker', 'year']).first()
    startingClosePrice = companyDfInSelectedYearGroupedFirstDate['close'].sum()
    companyDfInSelectedYearGroupedLastDate = companyDfInSelectedYear.groupby(['ticker', 'year']).last()
    finalClosePrice = companyDfInSelectedYearGroupedLastDate['close'].sum()

    percentDifference = (finalClosePrice - startingClosePrice)/startingClosePrice
    return percentDifference

In [9]:
percentChange = getPercentChange(df, 'NEW YORK MORTGAGE TRUST, INC.', '2016')
int(round(percentChange*100))

26

In [10]:
percentChange = getPercentChange(df, 'NEW YORK MORTGAGE TRUST, INC.', '2017')
int(round(percentChange*100))

4

In [11]:
percentChange = getPercentChange(df, 'NEW YORK MORTGAGE TRUST, INC.', '2018')
int(round(percentChange*100))

-1

### Check if there are tickers which are in both exchanges

In [12]:
groupedDf = df.groupby("ticker")["exchange"].nunique()
groupedDf.head()

ticker
A       1
AA      1
AABA    1
AAC     1
AAL     1
Name: exchange, dtype: int64

In [13]:
type(groupedDf)

pandas.core.series.Series

In [15]:
groupedDf.describe()

1.0

### Check if there are tickers which have more than one sector

In [16]:
groupedDf = df.groupby("ticker")["sector"].nunique()
groupedDf.head()

ticker
A       1
AA      1
AABA    1
AAC     1
AAL     1
Name: sector, dtype: int64

In [17]:
groupedDf.mean()

0.838698328935796

In [18]:
df[df['ticker'] == 'AAXJ']

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
5528311,AAXJ,50.130001,50.130001,42.221111,50.130001,50.130001,100,2008-08-15,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528312,AAXJ,49.770000,49.000000,41.269379,49.000000,49.770000,25600,2008-08-18,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528313,AAXJ,48.340000,48.340000,40.713501,48.340000,48.340000,100,2008-08-19,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528314,AAXJ,49.049999,49.020000,41.286217,49.020000,49.049999,4000,2008-08-20,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528315,AAXJ,49.250000,49.220001,41.454670,49.160000,49.250000,3600,2008-08-22,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528316,AAXJ,49.189999,48.299999,40.679825,48.299999,49.189999,17000,2008-08-25,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528317,AAXJ,48.919998,48.759998,41.067245,48.549999,48.919998,5000,2008-08-26,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528318,AAXJ,49.770000,49.650002,41.816837,49.650002,49.770000,1500,2008-08-27,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528319,AAXJ,49.610001,49.669998,41.833675,49.610001,49.669998,6000,2008-08-28,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528320,AAXJ,49.389999,49.330002,41.547314,49.330002,49.389999,400,2008-08-29,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528321,AAXJ,49.000000,49.000000,41.269379,49.000000,49.000000,100,2008-09-02,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528322,AAXJ,47.220001,47.169998,39.728092,47.099998,47.349998,3900,2008-09-03,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528323,AAXJ,46.709999,45.959999,38.708996,45.900002,46.709999,2600,2008-09-04,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528324,AAXJ,45.230000,46.000000,38.742676,45.080002,46.000000,6100,2008-09-05,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528325,AAXJ,46.880001,47.230000,39.778625,46.630001,47.230000,3800,2008-09-08,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528326,AAXJ,46.869999,45.880001,38.641617,45.880001,46.869999,11400,2008-09-09,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528327,AAXJ,44.160000,44.450001,37.437225,43.980000,44.650002,3300,2008-09-11,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528328,AAXJ,44.110001,43.790001,36.881348,43.790001,44.119999,1600,2008-09-12,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528329,AAXJ,43.299999,42.430000,35.735909,42.349998,43.299999,6200,2008-09-15,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528330,AAXJ,41.959999,41.580002,35.020027,41.000000,42.000000,3800,2008-09-16,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528331,AAXJ,40.279999,40.250000,33.899845,40.250000,40.299999,1700,2008-09-17,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528332,AAXJ,41.410000,43.139999,36.333900,41.020000,43.160000,4500,2008-09-18,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528333,AAXJ,44.509998,46.189999,38.902699,44.509998,46.230000,3700,2008-09-19,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528334,AAXJ,45.060001,45.020000,37.917297,44.709999,45.060001,3900,2008-09-22,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528335,AAXJ,43.419998,43.430000,36.578144,43.419998,43.900002,7000,2008-09-23,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528336,AAXJ,43.230000,43.240002,36.418118,43.220001,43.400002,11500,2008-09-24,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528337,AAXJ,43.820000,44.849998,37.774120,43.820000,44.849998,11300,2008-09-25,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528338,AAXJ,43.349998,43.439999,36.586563,42.959999,43.669998,3600,2008-09-26,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528339,AAXJ,41.099998,39.599998,33.352394,39.599998,41.180000,6900,2008-09-29,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5528340,AAXJ,40.889999,41.400002,34.868416,40.889999,41.400002,26200,2008-09-30,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5530804,AAXJ,71.610001,71.589996,71.589996,71.430000,71.680000,422600,2018-07-16,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530805,AAXJ,71.339996,71.900002,71.900002,71.180000,71.989998,745900,2018-07-17,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530806,AAXJ,71.459999,71.839996,71.839996,71.320000,71.870003,317100,2018-07-18,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530807,AAXJ,71.019997,71.000000,71.000000,70.760002,71.370003,1297500,2018-07-19,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530808,AAXJ,71.589996,72.010002,72.010002,71.589996,72.070000,528000,2018-07-20,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530809,AAXJ,71.690002,71.510002,71.510002,71.330002,71.690002,2096700,2018-07-23,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530810,AAXJ,72.580002,72.500000,72.500000,72.339996,72.870003,869700,2018-07-24,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530811,AAXJ,72.760002,73.690002,73.690002,72.720001,73.690002,880700,2018-07-25,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530812,AAXJ,72.839996,72.879997,72.879997,72.709999,73.040001,1164200,2018-07-26,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530813,AAXJ,73.360001,72.900002,72.900002,72.580002,73.360001,365900,2018-07-27,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530814,AAXJ,72.930000,72.559998,72.559998,72.349998,72.989998,886900,2018-07-30,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530815,AAXJ,72.650002,73.050003,73.050003,72.550003,73.190002,400900,2018-07-31,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530816,AAXJ,72.500000,72.400002,72.400002,72.260002,72.730003,797400,2018-08-01,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530817,AAXJ,70.959999,71.339996,71.339996,70.739998,71.449997,2985800,2018-08-02,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530818,AAXJ,71.430000,71.550003,71.550003,71.379997,71.720001,1292900,2018-08-03,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530819,AAXJ,71.290001,71.290001,71.290001,71.089996,71.430000,840300,2018-08-06,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530820,AAXJ,72.230003,72.190002,72.190002,72.019997,72.440002,800600,2018-08-07,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530821,AAXJ,72.180000,72.220001,72.220001,71.830002,72.279999,393600,2018-08-08,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530822,AAXJ,72.559998,72.379997,72.379997,72.349998,72.790001,2415600,2018-08-09,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530823,AAXJ,71.279999,71.339996,71.339996,71.080002,71.470001,621000,2018-08-10,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530824,AAXJ,70.730003,70.180000,70.180000,70.110001,70.830002,706300,2018-08-13,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530825,AAXJ,70.239998,70.290001,70.290001,70.040001,70.440002,554600,2018-08-14,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530826,AAXJ,68.279999,68.449997,68.449997,67.860001,68.589996,1388100,2018-08-15,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530827,AAXJ,68.970001,69.099998,69.099998,68.970001,69.489998,426500,2018-08-16,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530828,AAXJ,68.889999,69.820000,69.820000,68.699997,69.970001,531000,2018-08-17,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530829,AAXJ,69.970001,70.160004,70.160004,69.809998,70.180000,464400,2018-08-20,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530830,AAXJ,70.779999,71.080002,71.080002,70.769997,71.250000,544900,2018-08-21,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530831,AAXJ,71.110001,71.389999,71.389999,71.110001,71.559998,415700,2018-08-22,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530832,AAXJ,71.250000,70.500000,70.500000,70.440002,71.349998,607300,2018-08-23,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN
5530833,AAXJ,71.129997,71.480003,71.480003,71.050003,71.519997,871000,2018-08-24,NASDAQ,ISHARES MSCI ALL COUNTRY ASIA EX JAPAN INDEX FUND,NaN,NaN

So there are ticker (ticker symbol) which don't have a sector

In [19]:
groupedDf.describe()

count    5685.000000
mean        0.838698
std         0.367841
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: sector, dtype: float64

Also, each ticker symbol has at most one corresponding sector

### Check if there are company (company name) which have more than one sector

In [20]:
groupedDf = df.groupby("name")["sector"].nunique()
groupedDf.head()

name
1-800 FLOWERS.COM, INC.                   1
1347 PROPERTY INSURANCE HOLDINGS, INC.    1
180 DEGREE CAPITAL CORP.                  1
1ST CONSTITUTION BANCORP (NJ)             1
1ST SOURCE CORPORATION                    1
Name: sector, dtype: int64

In [21]:
groupedDf.describe()

count    5376.000000
mean        0.837426
std         0.370018
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: sector, dtype: float64

In [22]:
groupedDf.idxmax()

'ENERGIZER HOLDINGS, INC.'

In [25]:
list(df[df['name'] == 'ENERGIZER HOLDINGS, INC.'].groupby(['name', 'sector']).groups.keys())

[('ENERGIZER HOLDINGS, INC.', 'CONSUMER NON-DURABLES'),
 ('ENERGIZER HOLDINGS, INC.', 'MISCELLANEOUS')]

In [26]:
groupedDf[groupedDf == 2]

name
ENERGIZER HOLDINGS, INC.         2
NEW YORK MORTGAGE TRUST, INC.    2
Name: sector, dtype: int64

In [28]:
list(df[df['name'] == 'NEW YORK MORTGAGE TRUST, INC.'].groupby(['name', 'sector']).groups.keys())

[('NEW YORK MORTGAGE TRUST, INC.', 'CONSUMER SERVICES'),
 ('NEW YORK MORTGAGE TRUST, INC.', 'FINANCE')]

### get percent change per sector in a given year

In [52]:
def getPercentChangeForSector(dataFrame, sector, year):
    dfCopy = dataFrame.copy()
    sectorDf = dfCopy[dfCopy['sector'] == sector]
    sectorDf = sectorDf.sort_values('date')
    sectorDfInSelectedYear = sectorDf[sectorDf['date'].str.startswith(year)]

    pd.options.mode.chained_assignment = None
    sectorDfInSelectedYear['year'] = sectorDfInSelectedYear.date.str[0:4]

    sectorDfInSelectedYearGroupedFirstDate = sectorDfInSelectedYear.groupby(['ticker', 'year']).first()
    startingClosePrice = sectorDfInSelectedYearGroupedFirstDate['close'].sum()
    sectorDfInSelectedYearGroupedLastDate = sectorDfInSelectedYear.groupby(['ticker', 'year']).last()
    finalClosePrice = sectorDfInSelectedYearGroupedLastDate['close'].sum()

    percentDifference = (finalClosePrice - startingClosePrice)/startingClosePrice
    return percentDifference

In [53]:
getPercentChangeForSector(df, 'BASIC INDUSTRIES', '2004')

0.228150473062799

In [54]:
getPercentChangeForSector(df, 'BASIC INDUSTRIES', '2013')

0.10322636195480321

In [56]:
getPercentChangeForSector(df, 'MISCELLANEOUS', '2018')

0.10398556393167135

In [57]:
getPercentChangeForSector(df, 'MISCELLANEOUS', '2004')

0.1409865124005556